.envelope {
  width: 0;
  height: 0;
  border-top: 100px solid #eee;
  border-right: 170px solid #ddd;
  border-bottom: 100px solid #ccc;
  border-left: 170px solid #ccc;
}

.heart {
  width: 24px;
  height: 24px;
  background-color: #ff3838;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 2s linear infinite;
}

.heart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}
