.react {
  width: 220px;
  height: 80px;
  border: 8px solid #139eca;
  border-radius: 50%;
  position: relative;
}

.react::before {
  content: "";
  width: 220px;
  height: 80px;
  border: 8px solid #139eca;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
  transform: rotate(55deg);
}

.react::after {
  content: "";
  width: 220px;
  height: 80px;
  border: 8px solid #139eca;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
  transform: rotate(-55deg);
}

.react .dot {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #139eca;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
