.adidas {
  width: 206px;
  height: 120px;
  position: relative;
  overflow: hidden;
}

.adidas span {
  background-color: white;
  display: block;
  width: 46px;
  height: 150px;
  position: absolute;
  transform: rotate(-31deg);
}

.adidas span:nth-child(1) {
  top: 86px;
  left: 36px;
}

.adidas span:nth-child(2) {
  top: 45px;
  left: 82px;
}

.adidas span:nth-child(3) {
  top: 4px;
  left: 129px;
}
