*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Diamond */

body {
  margin: 0;
  padding: 0;
  background: #232323;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 3rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
